<section class="mb-5">
  <h2>Your Dashboard</h2>
  <p class="p-1">Hi {{username}}. Welcome to your account dashboard! Here you can manage your existing posts or add a new one.</p>
  <p class="p-1">You've written {{posts.length}} {{format_plural 'post' posts.length}}, so far.</p>
  <a href="/dashboard/create" class="btn btn-primary">Add a new post</a>
</section>

{{#if posts.length}}
<section>
  <h3>Your Posts</h3>
  <ul class="list-group list-group-flush">
    {{#each posts as |post|}}
    <li class="list-group-item border-bottom-0 mb-4">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="btn btn-primary edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
